/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


.code-label
    color : #fff
    font-weight: bold
    padding: 5px
    border-radius : 5px
    &--bad
        background-color : #d83a52
    &--good
        background-color : #258750